<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2>We found <%= pluralize(@user.errors.count, "error") %>:</h2>

    <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= f.fields_for :books do |f| %>
  <%= render :partial => 'books/form', :locals => {:f => f} %>
<% end %>
<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>
<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>
<div class="actions">
  <%= f.submit "Post Book", :disable_with => 'Posting...' %>
</div>
