<div class="field">
  <%= f.label :isbn %><br />
  <%= f.text_field :isbn %>
</div>
<div class="field">
  <%= f.label :price %><br />
  <%= f.text_field :price %>
</div>
<div class="field">
  <%= f.label :author %><br />
  <%= f.text_field :author %>
</div>
<div class="field">
  <%= f.label :title %><br />
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :course %><br />
  <%= f.text_field :course %>
</div>
<div class="field">
  <%= f.label :description %><br />
  <%= f.text_area :description %>
</div>
